<div class="container my-5">
  <div class="row justify-content-between">
    <div class="col-md-4">
      <%= render 'users/userinfo', user: @user %>
    </div>

    <div class="col-md-6">
      <h3>フォロー</h3>
      <%= render 'relationships/follow', users: @users %>
    </div>

    <div class="col-md-2">
      <%= render 'search/search', genres: @genres %>
    </div>
  </div>
</div>
