<div class="col-md-7">
  <div class="row">
    <div class="col-1 mt-1">
      <%= link_to "", :back, class:"fas fa-arrow-left" %>
    </div>

    <div class="col-11">
      <h3>
        通知
      </h3>
    </div>
  </div>

  <% if @notifications.present? %>
    <div class="users-index">
      <%= render @notifications %>
    </div>
  <% else %>
    <p>通知はありません</p>
  <% end %>
</div>

<div class="col-2 d-none d-lg-block"> <!--md（横幅992px）未満で削除（サイドバーからアクセス可能）-->
  <%= render 'search/search', genres: @genres %>
</div>