<div class="container my-5">
  <div class="row justify-content-between">
    <div class="col-md-4">
      <%= render 'users/userinfo', user: @user, movies: @movies %>
    </div>

    <div class="col-md-4">
      <%= render 'movies/index', followings: @followings %>
    </div>

    <div class="col-md-2">
      <%= render 'search/search', genres: @genres %>
    </div>

  </div>
</div>



