<h2>プロフィール</h2>
<table class="table table-borderless table-hover">
  <tr class="brown-border">
    <td>ユーザーネーム</td>
    <td><%= @user.name %></td>
  </tr>

  <tr class="brown-border">
    <td>自己紹介</td>
    <td><%= @user.introduction %></td>
  </tr>

  <tr class="brown-border">
    <td>お気に入りの映画</td>
    <td><%= @user.favorite_movie %></td>
  </tr>
</table>