<div class="container my-5">
  <div class="row justify-content-between">
    <div class="col-md-4">
      <%= render 'users/userinfo', user: @user %>
    </div>

    <div class="col-md-6">
      <div>
        <ul class="nav nav-tabs" role="tablist">
          <li class="tab">
            <a aria-controls="tab_a" data-toggle="tab" href="#tab_a">
              タイムライン
            </a>
          </li>
          |
          <li class="tab">
            <a aria-controls="tab_b" data-toggle="tab" href="#tab_b">
              投稿一覧
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_a">
            <p>
              <%= render 'movies/timeline', followings: @followings %>
            </p>
          </div>
          <div class="tab-pane" id="tab_b">
            <p>
              <%= render 'movies/index', movies: @movies %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <%= render 'search/search', genres: @genres %>
    </div>
  </div>

