<div class="col-7">
  <h3>タイムライン</h3>
  <%= render 'movies/index', movies: @followings %>
</div>

<div class="col-2 d-none d-lg-block"> <!--md（横幅992px）未満で削除（サイドバーからアクセス可能）-->
  <%= render 'search/search', genres: @genres %>
</div>
