/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  color: white;
  background-color: #008080;
}

header {
  border-color: white;
}

a {
  color:white;
}

a:hover {
  text-decoration: none;
}

.circle {
  color: gold;
  font-size: 1.5px;
}

.table {
  color: white;
}

.spoiler {
  color: black;
  background: white;
}

.card {
  width: 100%;
  background: #008080;
}

.card:hover {
  border-color: white;
}

.link {
  color: white;
}

.link:hover {
  color: yellow;
}

.image {
  object-fit: cover;
  border-radius: 50%;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 992px; //md（横幅992px）未満で画面幅いっぱいになる
}

.sidebar-min-item {
  font-size: 20px;
  height: 70px;
  text-align: center;
}

.sidebar-item {
  font-size: 20px;
  height: 70px;
  text-align: left;
}

.nav-link:hover {
  color: yellow;
}